.basta {
    background: rgb(57, 146, 197);

    &__game-container {
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
        color: white;
        gap: 20px;
    }

    &__game-row {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__character-to-select {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: 40vw;
        font-size: 20vw;
        background: rgb(231, 217, 88);
        color: rgb(0, 0, 0);
        border: 5px solid rgb(255, 255, 255);
        border-radius: 10px;
        font-weight: bold;
        margin: 10px;
        user-select: none;

        &:active {
            font-size: 17vw;
            color: rgb(250, 250, 250);
            background: rgb(158, 53, 4);
        }
    }

    &__character-to-select--used {
        background: grey;
        color: rgb(94, 94, 94);

        &:active {
            font-size: 20vw;
            background: grey;
            color: rgb(94, 94, 94);
        }
    }

    .timer {
        pointer-events: none;

        &__button-reset-timer {
            background: rgb(160, 2, 2);
            color: white;
        }
    }
}