.pg-test-video {

    &__layout {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 30%;
        top: 0;
        left: 0;
        width: 50vw;
        height: 100vh;
        background: black;
        z-index: 2;
    }

    &__video {
        width: 100%;
    }

    &__equipment-damaged-container {
        display: flex;
        justify-content: center;
        color: rgb(255, 208, 0);
        font-size: 5vw;
        padding: 10px;
    }

    button {
        padding: 10px 50px;
    }
}