@import "../../styles.scss";

:root {
    --border-color: rgb(206, 206, 206);
}

.game-list-page {

    &__game-list-container {
        height: auto;
        width: 100%;
        background-image: url('../img/wallpaper.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    &__general-info {
        display: flex;
        justify-content: center;
    }

    &__list-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4%;

        @media (min-width: $mobileMaxValue) {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
        }

    }

    &__game {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;
        border: 3px solid rgb(95, 95, 95);
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.7);
        min-height: 50vh;

        @media (min-width: $mobileMaxValue) {
            display: flex;
            flex-direction: column;
            flex-basis: 30%;
            height: 70vh;
            height: 40vh;
        }
    }

    &__new-game {
        position: absolute;
        top: 3%;
        right: 5%;
        color: white;
        font-weight: bold;
        border-radius: 100%;
        padding: 20px;
        transform: rotate(4deg);
        animation: newBlink 0.5s infinite alternate;

        @keyframes newBlink {
            0% {
                background: rgb(0, 195, 255);
            }

            100% {
                background: rgb(0, 225, 255);
            }
        }
    }

    &__image-container {
        display: flex;
        justify-content: center;
        height: 50%;

        img {
            width: 100%;
            justify-content: center;
            max-height: 250px;
            object-fit: contain;
            border-radius: 20px;
            margin-bottom: 5px;
            padding: 10px;
            height: auto;
        }

        @media (min-width: $mobileMaxValue) {
            display: flex;
            justify-content: center;
            height: 45%;
        }
    }

    &__main-info-container {
        padding: 0 5% 0 5%;

        h3 {
            text-transform: capitalize;
            font-weight: bold;
        }

        @media (min-width: $mobileMaxValue) {
            font-size: 12px;
            height: 55%;
            overflow-y: hidden;
        }
    }

    &__game-name {
        text-align: center;

        @media (min-width: $mobileMaxValue) {
            font-size: 2em;
        }
    }

    &__tags-container {
        display: flex;
        flex-wrap: wrap;
        background: linear-gradient(45deg,
                #ececec 5%,
                #fff 10%,
                #ccc 30%,
                #ddd 50%,
                #ccc 70%,
                #fff 80%,
                #999 95%);
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    }

    &__tags {
        font-weight: bold;
        display: flex;
        align-items: center;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        padding: 5px 2% 5px 2%;
        margin: 5px;
        font-size: 14px;
        color: rgb(95, 95, 95);

        svg {
            width: 20px;
            height: 20px;
        }
    }

    &__rank {
        margin-right: auto;
    }

    &__right {
        display: flex;
        justify-content: right;
    }

    &__filter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 12px;
        color: white;
        background: rgb(61, 61, 61);
    }

    &__inputs-container {
        padding: 10px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        // justify-content: space-between;
        gap: 10px;
    }

    &__input-container {
        display: flex;
        align-items: center;
        background: white;
        border-radius: 8px;
        margin: 3px;

        svg {
            padding: 2px;
            fill: rgb(160, 160, 160);
        }

        input,
        select {
            border: 0;
            border-radius: 8px;

            &:focus-visible {
                outline: none;
            }
        }

        select {
            padding-right: 5px;
        }
    }

    &__select-container {
        display: flex;
        align-items: center;
    }

    &__checkbox-label {
        padding-right: 10px;
    }

    &__checkbox {
        width: 24px;
        height: 24px;
    }

    &__desc-container {
        @media (min-width: $mobileMaxValue) {
            overflow-y: auto;
            height: 70%;
        }
    }

    &__timer-container {
        position: absolute;
        display: flex;
        justify-content: center;
        padding: 10px;
        border-radius: 8px;
        left: 8px;
        top: 8px;

        svg {
            fill: white;
            width: 35px;
            height: 35px;
        }
    }

    &__timer-container--short {
        background-color: rgb(72, 173, 72);
    }

    &__timer-container--medium {
        background-color: rgb(233, 203, 55);
    }

    &__timer-container--long {
        background-color: rgb(185, 41, 41);
    }

    &__timer-info-container {
        display: flex;
        justify-content: space-around;
        padding: 10px 5px;
        padding-bottom: 0;
        color: white;

        div {
            display: flex;
            align-items: center;
            border-radius: 10px;
            padding: 5px;
            gap: 3px;
        }

        svg {
            fill: white;
        }
    }

    &__files-container {
        display: flex;
        justify-content: flex-end;
        padding: 5px;

        button {
            border-radius: 8px;
            background: rgb(0, 0, 0, 0.2);
            color: white;

            &:active {
                opacity: 0.6;
            }
        }

        svg {
            fill: rgb(164, 7, 7);
        }
    }
}