.dice-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

    label {
        font-weight: bold;
    }

    .dice {
        display: flex;
        font-size: 2.5em;
        justify-content: center;
        align-items: center;
        color: white;
        border: 3px solid black;
        background: rgb(84, 52, 160);
        border-radius: 10px;
        width: 100px;
        height: 100px;
        margin: 5px;

        .dice-value {
            transition: transform 1s ease, background-color 1s ease;
            animation: diceValueAnimation 0.5s forwards;
        }
    }

    .dice.animate {
        transition: transform 1s ease, background-color 1s ease;
        animation: diceSizeAndColor 0.3s forwards;
    }
}

@keyframes diceSizeAndColor {
    0% {
        transform: scale(1);
        background: rgb(125, 94, 199);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        background: rgb(125, 94, 199);
    }
}

@keyframes diceValueAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}