.yo-nunca-nunca {
    background: rgb(49, 7, 49);
    min-height: 100%;

    &__card-content {
        display: flex;
        flex-direction: column;
        padding: 40px 20px;
        background: red;
    }

    &__card-inside {
        display: flex;
        align-items: center;
        padding: 20px;
        font-size: 40px;
        font-weight: bold;
        background: white;
        border-radius: 30px;
        height: 100%;
    }

    &__button {
        background: rgb(33, 158, 189);
    }
}