@import '../../blockbuster-page.scss';

.blockbuster-guess-movies {

    &__guess-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 7vw;
        min-height: 20vh;
        margin: 10px;
        margin-top: 50px;
        font-family: 'blockbuster', 'Courier New', Courier, monospace;

        @media (min-width: 990px) {
            font-size: 30px;
        }
    }

    &__guess-button {
        all: unset;
        position: relative;
        user-select: none;
        width: 100%;
        padding: 8px;
        border-radius: 8px;

        span {
            width: 100%;
            display: flex;
            justify-content: center;

            svg {
                font-size: 25vw;

                @media (min-width: 990px) {
                    font-size: 100px;
                }
            }
        }

        ul {
            margin-left: 30px;
        }
    }

    &__guess-relative-container {
        position: relative;
        min-height: 180px;
    }

    &__unrevealed-list {
        position: absolute;
        top: 0;
        width: 100%;
        background: rgb(209, 187, 46);
        border-radius: 8px;
        padding: 10px;
        height: 100%;

        &:active {
            opacity: 0;
            z-index: -2;
        }
    }

    &__instructions-container {
        padding: 20px;
        font-size: 16px;
    }

    &__current-team-container {
        padding: 20px 5px;
        margin: 20px 0;
        text-align: center;
        font-family: 'blockbuster', 'Courier New', Courier, monospace;
        font-size: 20px;
        border-radius: 8px;
        color: white;

        &--winner {
            background: rgb(21, 177, 21);
        }

        &--loser {
            background: rgb(190, 15, 15);
        }
    }

    &__button {
        align-items: center;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 8px;
        border: 2px solid $blockbuster-blue;
        color: blue;
        display: flex;
        flex-basis: calc(50% - 20px);
        font-weight: bold;
        gap: 20px;
        justify-content: space-around;
        margin: 10px;
        min-height: 80px;
        padding: 8px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        font-family: 'blockbuster', 'Courier New', Courier, monospace;

        &:active {
            opacity: 0.6;
        }

        &--selected {
            background: rgba(0, 128, 0, 0.4);
        }

        &--continue {
            padding: 8px 20px;
            background: $blockbuster-blue;
            color: white;
        }
    }
}