.zombie-phase {
    &__container {
        min-height: 40dvh;
        padding-top: 5dvh;
        display: flex;
        flex-direction: column;
        animation: appear 0.5s ease-in-out;

        @keyframes appear {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }

    &__image-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        width: 100%;
    }
    
    &__refresh-container {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 10px;

        svg {
            fill: white;
            width: 50px;
            height: 50px;
        }
    }

    &__name-container {
        text-align: center;
        font-size: 30px;
        color: white;
        text-transform: capitalize;
    }

    &__span-count-container {
        text-align: center;
        font-size: 25px;
        color: white;
    }

    &__fast-foward-container {
        text-align: center;
        font-size: 20px;
        color: rgb(255, 187, 0);
    }

    &__nemesis-container {
        text-align: center;
        font-size: 20px;
        color: #ff4545;
    }

}