.bullet-counter {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        border: solid 2px #060666;
        color: white;
    }

    &__gun-name {
        text-align: center;
        color: white;
        text-transform: capitalize;
    }

    &__controls {
        display: flex;
        justify-content: space-around;
        color: white;

        button {
            padding: 15px 25px;
            border-radius: 5px;
        }

        button:active {
            transform: scale(.98);
        }
    }

    &__image-container {
        position: relative;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__counter-value {
        position: absolute;
        left: 20%;
        bottom: 20%;
        color: rgb(0, 255, 221);
        font-size: 35px;
    }
}