@import '../../blockbuster-page.scss';

.blockbuster-timer {

    * {
        user-select: none;
    }

    background: $blockbuster-yellow;

    &__button-reset-timer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vw;
        width: 80vw;
        padding: 20px;
        font-size: 40vw;
        border-radius: 100%;
        background: blue;
        color: $blockbuster-yellow;
        font-family: 'blockbuster', 'Courier New', Courier, monospace;

        &:active {
            background: rgb(0, 0, 199);

            span {
                transform: scale(0.9);
            }
        }

        @media (min-width: 990px) {
            font-size: 100px;
            width: 300px;
            height: 300px;
        }
    }

    &__button-reset-timer--stopped {
        background: grey;
        color: rgb(180, 180, 180);
    }

    &__button-reset-timer--font-smaller {
        font-size: 15vw;

        @media (min-width: 990px) {
            font-size: 70px;
        }
    }

    &__timer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__timer {
        font-size: 40vw;
        line-height: 33vw;
        color: blue;
        user-select: none;
    }

    &__timer--time-over {
        color: rgb(193, 12, 12);
        font-size: 30vw;
    }

}