#notebook-container {
    background-color: #d6d3aa;
    background-attachment: fixed;
    font-family: 'tragicMarker';

    #test-container {

        #cordura-container {
            width: 100%;

            .cordura-title {
                margin-left: 5%;
                margin-top: 20px;
                font-size: 1.5em;
            }

            .controllers {
                width: 100%;
                display: flex;
                justify-content: space-around;

                button {
                    width: 20%;
                    font-size: 2em;
                }

                .cordura-amount {
                    font-size: 2em;
                }
            }
        }

        #test-selection-container {
            display: flex;
            flex-wrap: wrap;
            justify-items: center;
            margin: 10px 5% 10px 5%;
            padding-bottom: 10px;
            border-bottom: 3px solid black;

            >label {
                font-size: 6vw;
                flex-basis: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
                border-bottom: 3px solid black;
            }

            .test-item {
                display: flex;
                font-size: 4vw;
                flex-basis: 50%;
                align-items: center;
                align-content: center;
                margin-bottom: 10px;

                &:active {
                    background-color: #c9c6a0;
                    border-radius: 5px;
                }

                input[type="checkbox"] {
                    margin-right: 1vw;
                    width: 3vw;
                    height: 3vw;
                    accent-color: black;
                }

                &&:last-child {
                    flex-basis: 100%;
                }

                .equipment-name {
                    margin-left: 1vw;
                }
            }

            .discarded::before {
                content: "";
                position: absolute;
                width: 40%;
                height: 2.5px;
                background-color: black;
                transform: translateY(-50%);
            }
        }

        #filtered-container {
            font-size: 4vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 10px 5% 10px 5%;

            >label {
                text-align: center;
                padding-bottom: 15px;
            }

            .ghost-item {
                display: flex;
                justify-content: center;
                flex-basis: 33.33%;
                padding: 5px;

                .selected {
                    box-sizing: border-box;
                    border: 2px solid black;
                    border-radius: 50%;
                    padding: 0 10% 0 10%;
                }
            }

            .no-match {
                opacity: 0.2;
            }

        }
    }

    #new-game-container {
        display: flex;
        flex-direction: column;
        margin: 20px 50px 50px 50px;

        input {
            width: 20%;
            margin-left: 10px;
        }

        #button-footer-container {
            font-family: 'tragicMarker';
            display: flex;
            justify-content: center;
            padding: 20px;

            button {
                flex-basis: 50%;
                border-radius: 5px;
                border: 3px solid black;
                background: transparent;
                padding: 20px;
            }
        }
    }


}