.item-details {

    &__container {
        min-height: 80dvh;
        padding-top: 5dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    &__buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
    }

    &__image-container {
        img {
            width: 100%;
        }
    }

    &__name-description-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__name-container {
        display: flex;
        justify-content: center;
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-transform: capitalize;
    }

    &__description-container {
        display: flex;
        justify-content: center;
        color: white;
        text-align: center;
    }

    &__button {
        width: 100%;

        border-radius: 10px;
        padding: 15px 5px;
    }

    &__button--ok {
        color: white;
        background: green;
    }

    &__button--danger {
        color: white;
        background: rgb(153, 30, 30);
    }

    &__button--combine {
        color: white;
        background: rgb(0, 162, 255);
    }

    &__weapon-stadistics-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 15px;

        img {
            width: 20dvw;
        }
    }

    &__swap-icon-container {
        display: flex;
        justify-content: center;
        margin-top: -20px;
        margin-bottom: -20px;

        svg {
            fill: white;
            width: 30px;
            height: 30px;
        }
    }

    &__weapon-equiped {
        position: absolute;
        font-size: 12px;
        color: white;
        bottom: 0;
        left: 5px;
        text-align: center;
    }
}