.codigo-secreto-page {
    &__container {
        background: rgb(255, 238, 176);
        min-height: 100vh;
    }

    &__grid_container {
        display: flex;
    }

    &__grid-row {
        display: flex;
    }

    &__grid-cell {
        flex: 1;
        width: 20%;
        min-height: 50px;
        border: 2px solid black;
    }

    &__grid-cell--x {
        background: green;
    }

    &__grid-cell--c {
        background: red;
    }

    &__grid-cell--0 {
        background: rgb(249, 239, 230);
    }

    &__grid-cell--d {
        background: black;
    }

    &__buttons-container {
        display: flex;
        justify-content: space-around;
        padding: 20px;

        button {
            padding: 10px;
        }
    }

    &__word-container {
        display: flex;
        justify-content: space-around;
        padding: 5px;
    }
}