.search-item-question {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 40px 0;
    }

    &__title-container {
        // color: white;
        font-size: 20px;
        color: white;
    }

    &__option-container {
        width: 100%;

        button {
            width: 100%;
            border-radius: 10px;
            background: rgb(16, 151, 16);
            color: white;
            padding: 20px;
        }

        button:active {
            transform: scale(.99);
            background: rgb(47, 47, 117);
        }

    }
}