$blockbuster-yellow: rgb(221, 198, 48);
$blockbuster-blue: rgb(47, 47, 140);

.blockbuster-page {
    background-color: $blockbuster-blue;
    min-height: 100vh;

    &__logo-container {
        display: flex;
        justify-content: center;
        padding-top: 50px;

        img {
            width: 80%;
            transform: rotateZ(10deg);
            padding: 20px;

            @media (min-width: 990px) {
                width: 20%;
            }
        }
    }

    &__modal-yellow-background {
        .ant-modal-content {
            background: $blockbuster-yellow;
        }
    }

    &__content-container {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__button {
        width: 80%;
        border: 2px solid $blockbuster-blue;
        margin: 30px 0;
        border-radius: 5px;
        background: $blockbuster-yellow;
        color: blue;
        min-height: 80px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'blockbuster', 'Courier New', Courier, monospace;

        @media (max-width: 990px) {
            font-size: 6vw;
        }

        &:active {
            opacity: 0.6;
        }
    }

    &__modal-container {
        background-color: $blockbuster-yellow;
        position: fixed;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 1;
    }

    &__modal-content {
        padding-top: 20px;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__face-to-face-question-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        font-size: 5vw;

        @media (min-width: 990px) {
            font-size: 20px;
        }
    }

    &__face-to-face-question {
        margin-bottom: 30px;
    }

    &__close-container {
        display: flex;
        justify-content: flex-end;
    }
}