.resident-evil {
    &__container {
        min-height: 100dvh;
        background: #060605;
        padding: 10px;
    }

    &__guns-container {
        display: flex;
        flex-direction: column;
        border: solid 5px gray;
        background: #04037C;
        border-radius: 10px;
        min-height: 97dvh;
    }

    &__life-points-labels-container {
        width: 100%;
        display: flex;

    }

    &__life-points-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: solid 2px gray;
        text-align: center;
        text-transform: capitalize;
        padding: 5px;
        background: gray;
        color: rgb(74, 74, 74);
    }

    &__life-points-controls-container {
        display: flex;
        width: 60%;
        gap: 10px;

        button {
            padding: 0 15px;
            border-radius: 10px;
        }
    }

    &__life-points-screen {
        width: 100%;
        background: black;
        border: 5px;
        padding: 10px 5px;
        border-radius: 10px;
    }

    &__life-status--bien {
        color: lime;
    }

    &__life-status--cuidado {
        color: rgb(255, 213, 0);
    }

    &__life-status--dañado {
        color: rgb(255, 153, 0);
    }

    &__life-status--peligro {
        color: rgb(189, 22, 22);
    }

    &__life-status--muerto {
        color: white
    }

    &__player-status-label-container {
        padding: 0 10px;
    }

    &__bullets-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}