.weapon-stadistics {
    &__current-item-stadistics-container {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    &__current-item-stadistic-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__current-item-stadistic-number {
        color: white;
    }

    &__current-item-stadistic-icon {
        svg {
            fill: white;
        }
    }

    &__current-item-stadistic--better {
        color: lime;

        svg {
            fill: lime;
        }
    }

    &__current-item-stadistic--lower {
        color: rgb(207, 104, 104);

        svg {
            fill: rgb(207, 104, 104);
        }
    }
}